<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <link rel="stylesheet" href="style.css">
</head>
<body>

<main>
    <section id="section1">
        <h1>Gefahrenevaluierung anhand von piktogrammen </h1>
    </section> 

    <section id="section2">
        <h3>Wie gefährlich ist die Situation, in der ich mich befinde?
        </h3>
    </section>

    <section id="section3"> <img src="https://hbk-bs.github.io/teachable-machine-Paulineseemann/template/diegefahrenpiktogramme.webp" alt="bild" width="100">
    </section>

    <br><br/> 
   
    

   
</main>

<script src="lib/ml5.1.2.1.min.js"></script>
<script src="lib/p5.min.js"></script>
<script src="index.js"></script>

</body>
</html>
