<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css"> <section id="section1">
        <h1>Der Gefahrenevaluierungs-Bot</h1>
            <h3>Wie gefährlich ist die Situation, in der ich mich befinde?
        </h3></section> 
    
</head>
<body>

<main>
    

    

    <section id="section2"> <img src="https://hbk-bs.github.io/teachable-machine-Paulineseemann/template/gefahrenpiktogramme.png" alt="bild" width="100">
   

     <p>WIE WANN WARUM</p><p>Flammen, Ausrufezeichen und explodierende Menschen. HILFE, was bedeutet das für mich? Die Piktogramme auf Gefahrenstoffen sehen in jedem Fall gefährlich aus, die konkrete Gefahr ist jedoch nicht immer eindeutig zu identifizieren. Um dieses Problem zu beheben, befolge einfach die folgenden Schritte und lasse dir vom Gefahrenevaluierungs-Bot den Arsch retten, denn noch deutlicher wird es nicht:</p> 
        <ol><li>Gefährlichen Gegenstand identifizieren
<li>Ruhe bewahren </li>
<li>Piktogram in die Webcam halten</li> <li>Angezeigten Spruch zu Herzen nehmen</li></section>
</ol>
</section>

<section id="section4"><a href="webcam.html">📷 Gefahrenevaluierungs-Bot Live Webcam</a></section>

    

   
</main>

<script src="lib/ml5.1.2.1.min.js"></script>
<script src="lib/p5.min.js"></script>


</body>
</html>
